<% provide(:title, "SwellNow") %>

<div class="container page-home">
  <div id="location-text"></div>
  <div id="dropmenu">
  </div>
  <div id="chart" style="margin-top: 10px">
    <canvas id="canvas" width="200" height="60"></canvas>
    <div>
      <img id="swellcolors" src="https://dl.dropboxusercontent.com/s/0yospz8q02iiofs/SwellColors.png" alt="colorchart" style="margin-bottom: 50px"/>
    </div>
  </div>
  <div id="swellstatus"></div>
  <!-- <div class="row" style="margin-top: 37px">
    <div class="col-xs-4" id="dirspec">
      <img src="https://drawception.com/pub/panels/2016/4-3/7HDAYH57aE-14.png" width="100%" alt="raindrop"/>
    </div>
    <div class="col-xs-6" id="freqspec">
      <img src="https://pixabay.com/static/uploads/photo/2014/04/11/09/28/water-321524_960_720.jpg" width="100%" alt="water"/>
    </div>
  </div> -->
</div>

<!-- JavaScript -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

<!-- jQuery plugins, because the Rails default ones screwed me -->
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' %>

<!-- Bootstrap Core JavaScript -->
<%= javascript_include_tag 'bootstrap.min' %>

<!-- Custom javascript shared by all pages -->
<%= javascript_include_tag 'shared' %>

<!-- Specific javascript file for this page -->
<%= javascript_include_tag 'homepage' %>
